{% extends 'base.html' %}
{% block content %}
<h1>Hello, world!</h1>
<table>
<tr><th>Name</th><th>Score</th><th>Action</th></tr>
<tr>
{% for field in form %}
  <td>{{ field }}</td>
{% endfor %}
  <td><button name="save">Save</button></td>
</tr>
{% for score in scores %}
  <tr>
    <td>{{ score.name }}</td>
    <td>{{ score.value }}</td>
    <td>
      <button name="edit">Edit</button>
      <button name="delete">Delete</button>
    </td>
  </tr>
{% endfor %}
</table>
<a href="{% url 'about' %}">About page</a>
{% endblock %}
